# Application
PORT=8000
APP_NAME="Nest Starter Kit"
APP_URL=http://localhost:8000

# Cors Origins
# Allowed origins should be a comma-separated list of URLs
# e.g., http://localhost:3000,https://example.com
CORS_ALLOWED_ORIGINS=http://localhost:3000

# Database
DATABASE_URL=

# SMTP - Mail
MAIL_HOST=
MAIL_PORT=
MAIL_ENCRYPTION=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_NAME=
MAIL_FROM_ADDRESS=

# Cache (sqlite, redis)
CACHE_DRIVER=sqlite
CACHE_STORAGE_URL=./cache.db
CACHE_TTL=3600000
