# Application
PORT=8000
APP_NAME="Nest Starter Kit"
APP_URL=http://localhost:8000

# Cors Origins
# Allowed origins should be a comma-separated list of URLs
# e.g., http://localhost:3000,https://example.com
CORS_ALLOWED_ORIGINS=http://localhost:3000

# Database
DATABASE_URL=
