# Build output
/dist
/build

# Dependencies
node_modules/
.pnp
.pnp.js

# Logs
logs/*.log
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor/IDE specific
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.idea
.fleet

# Operating system
._*
.DS_Store
Thumbs.db

# Testing
coverage/

# Vercel
.vercel/

# TypeScript
*.tsbuildinfo

# Lock files
yarn.lock
package-lock.json
pnpm-lock.yaml
pnpm-workspace.yaml

# NPM
.npmrc

# Temp files
.temp
.tmp

# Runtime files
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Generated types
/src/generated
